<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat a Burger</title>
</head>
<body>
    <h1>Eat a Burger!</h1>
    <h4>Yah, eat a burger!</h4>
    <img src="#" alt="#">
    <textarea name="burger-form" id="burger-text" cols="30" rows="5"></textarea>

    {{{ body }}}
    
</body>
</html>